#### Tuples
 Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst= list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [2]:
list((1,2,3,4,5,5))

[1, 2, 3, 4, 5, 5]

In [4]:
mixed_tuple=(1,"hello world",3.4,True)
print(mixed_tuple)

(1, 'hello world', 3.4, True)

In [5]:
## Accessing tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
print(numbers[0])
print(numbers[-1])

1
6

In [7]:
print(numbers[0:4])

(1, 2, 3, 4)

In [8]:
 ## Tuple operations
numbers

(1, 2, 3, 4, 5, 6)

In [9]:
mixed_tuple

(1, 'hello world', 3.4, True)

In [10]:
concat_tuple=numbers+mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.4, True)

In [11]:
print(mixed_tuple*3)

(1, 'hello world', 3.4, True, 1, 'hello world', 3.4, True, 1, 'hello world', 3.4, True)

In [12]:
## Immutable nature of Tuples
lst=[1,2,3,4,5]
lst[0]="hello"
print(lst)

['hello', 2, 3, 4, 5]

In [13]:
numbers

(1, 2, 3, 4, 5, 6)

In [14]:
numbers[1]="hello"   ## elements cannot be changed once assigned
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [16]:
## Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [1]:
# Packing and unpacking tuples

packed_tuples= 1,"Hello",3.14
print(packed_tuples)

(1, 'Hello', 3.14)

In [2]:
a,b,c=packed_tuples
print(a)
print(b)
print(c)

1
Hello
3.14

In [3]:
# Unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [5]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],["hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [6]:
## Nested Tuple
lst=[[1,2,3,4],[6,7,8,9],("hello",3.14,"c")]
lst[2][0:3]

('hello', 3.14, 'c')

In [7]:
nested_tuple=((1,2,3),(4,5,6),("hello",3.14,"c"))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
6

In [8]:
## iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
4 5 6
hello 3.14 c