Python variables, Datatypes, Operators

In [1]:
1+2

3

In [6]:
name="Yash"
Name="Desai"
print(name)
print(Name)

Yash
Desai

In [7]:
age=20
if age>18:
    print(age)
print(age)

20
20

In [8]:
#This is a single line comment
print("Hello world")

Hello world

In [9]:
# Line continuation , use a blackslash (\) to continue a statement to the next line
total= 1+4+6+\
9+8
print(total)

28

In [10]:
# Multiple statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [15]:
age=43
name="Yash"
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [16]:
if True:
    print("Correct Identation")
    if False:
        print("This won't print")
    print("This will print")
print("Outside the if block")

Correct Identation
This will print
Outside the if block

In [1]:
age=20
print(type(age))
age_str= str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [2]:
age='20'
print(int(age))

20

In [3]:
# Simple Calculator
num1= float(input("Enter the first number: "))
num2= float(input("Enter the second number: "))

sum= num1+num2
diff= num1-num2
mul= num1*num2
div= num1/num2
mod= num1%num2
floor_div= num1//num2
exp= num1**num2

print("Sum :",sum)
print("Difference :",diff)
print("Multiplication :",mul)
print("Division :",div)
print("Modulus :",mod)
print("Floor Division :",floor_div)
print("Exponentiation :",exp)

Sum : 26.0
Difference : 14.0
Multiplication : 120.0
Division : 3.3333333333333335
Modulus : 2.0
Floor Division : 3.0
Exponentiation : 64000000.0

In [4]:
is_true=True
type(is_true)

bool

In [5]:
a=10
b=10
type(a==b)

bool

In [6]:
result="hello"+str(6)

In [7]:
print(result)

hello6

In [8]:
21//5

4

In [9]:
str1="Yash"
str2="yash"
str1==str2

False

In [13]:
str1="Yash"
str2="Yash"
str1==str2

True

In [11]:
str1='123'
integer=123
str1==integer

False

In [14]:
str1='123'
integer=str(123)
str1==integer

True

Logical Operators

In [15]:
# and operator
X=True
Y=True
result= X and Y
print(result)

True

In [16]:
X=True
Y=False
result= X and Y
print(result)

False

In [17]:
# or operator
X=True
Y=False
result= X or Y
print(result)

True

In [ ]:
#Multiline comment is created by using triple single qoutes
'''this is an example of multiline comments
Welcome to the python'''